@model Aural_Novel.Models.Seller

@{
    ViewBag.Title = "Seller Index Page";
    Layout = "~/Views/Shared/_LayoutForSellerSignIn.cshtml";
}



<body>

    <h3>Welcome</h3>
    @if (Session["Susername"] != null)
    {
        <h4>@Session["Susername"]</h4>
        <div>
            @Html.ActionLink("Sign Out", "SellerSignout", "Seller")
        </div>


    }


    <div>
        @Html.ActionLink("Aural Novel", "Index", "Home")
    </div>
</body>




