@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <h1>Aural Novel is glad to have you here!</h1>
            <p class="lead">With Aural Novel, you can listen to audiobooks in a variety of genres.</p>
        </div>

        <div class="col-md-6">
            <img src="~/Images/coverMain2.jpg" class="img-fluid" alt="Cover Pic "/>
        </div>


    </div>
</div>


<div class="container">
    <div class="row">

        <div class="col-md-6 d-flex flex-column justify-content-center">
            <p>lorem ipsum</p>
        </div>



    </div>
</div>

